.ComponySetings{
    .Setings-sayt{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div{
            width: 100%;
            display: flex;
            // justify-content: center;
            justify-content: space-between  ;
            align-items: center;
            // position: relative;
            p{
                width: 200px;
                height: 70px;
                background-color: rgba(128, 128, 128, 0.803);
                color: white;
                font-size: 25px;
                position: absolute;
                // left: 350px;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                // text-align: center;
            }
            &:hover {
                p{
                    opacity: 1;
    
                }
            }
            input{
                border: 2px solid ;
                width: 50%
            }
        }
    }
    .button-sayt{
        display: flex;
        margin: 0 auto;
        button{

            // display: flex;
            padding: 15px;
            border-radius: 8px;
            background-color: green;
            color: white;
            margin: 20px auto;
            font-size: 20px;
            width: 100px;
            text-align: center;
            // align-items: center;
            
        }
    }   
}

@media(max-width:768px){
    .ComponySetings{
        .button-sayt{
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            
        }
    .Setings-sayt{
        div{
            flex-direction: column;
            input{
                width: 280px;
            }
        }
    }
}
}