.lens {
    width: 1200px;
    margin: 0 auto;

    .line_div {
        width: 100%;
        margin: 100px auto 40px auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .line {
            width: 41%;
            height: 2px;
            background-color: black;
        }

        p {
            font-size: 25px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin: 0px 20px;
        }
    }

    .contaDiv {
        max-width: 900px;
        margin: 0 auto;

        .titleP {
            font-size: 20px;
            display: flex;
            justify-content: flex-start;
            font-weight: 700;
            margin-top: 100px;
            letter-spacing: 4px;
        }

        .texta {
            margin-top: 40px;
            font-size: 20px;
            font-weight: 300;
            line-height: 35px;

        }


        .butt {
            display: flex;
            justify-content: flex-start;
            margin-top: 25px;

            .submit {

                width: 200px;
                height: 50px;
                background: darkgray;
                letter-spacing: 5px;

            }
        }

        .contaDiv_edit {
            .contaDiv_input {
                width: 500px;
                text-align: center;
                box-shadow: 0 0 40px 10px gray;
            }
            .contaDiv_textarea{
                width: 100%;
                margin-top: 20px;
                text-decoration: none;
                text-align: start;
                padding: 20px;
                
                box-shadow: 0 0 40px 10px gray;
            }
        }

        span {
            font-size: 20px;
            padding: 10px;
            margin: 10px;
            cursor: pointer;
            background-color: rgba(128, 128, 128, 0.575);
            border-radius: 10px;

            &:hover {
                background-color: gray;
                color: white;
            }
        }


    }
}