.CommiteSetings{
    width: 70%;
    min-height: 100vh;
    margin-left: 25%;
    table{
        width: 100%;
        tr{
            th{
                padding: 20px;
                background-color: gray;
                color: white;
            }
            th:nth-child(1){
                width: 5%;
            }
            th:nth-child(2),th:nth-child(3){
                width: 20%;
            }
            th:nth-child(4){
                width: 45%;
            }
            th:nth-child(5){
                width: 10%;
            }
            td{
                padding: 20px;
                background-color:  #5447;
                text-align: center;
                color: rgb(78, 76, 76);
            }
            
        }
        .del{
            display: flex;
            justify-content: space-between;
            div{
                font-size: 30px;
                cursor: pointer;
            }
        }
        .sev{
            td{
                padding: 20px;
                background-color: rgba(85, 68, 68, 0.252);
                // opacity: .8;
                text-align: center;
                color: gray;
            }
        }
        .seen{
            td{
                font-size: 30px;
                color: black;
                position: relative;
                p{
                    // width: 5px;
                    // height: 5px;
                    // background-color: black;
                    font-size: 12px;
                    color: black;
                    position: absolute;
                    border-radius: 50%;
                    top: 1px;
                    left: 5px;
                }
            }
        }
    }
}