.ShipingSetings{
    width: 40%;
        min-height: 100vh;
        margin: 0 auto;
        text-align: center;
    .Setings-Sipping{
        display: flex;
        flex-direction: column;
   
        .ship{
            display: flex;
            flex-direction: column;
            div{
                display: flex;
            }
        }
        .ordering{
            display: flex;
        flex-direction: column;
        }
    }
}